*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1F1E27;
    display: flex;
    place-items: center;
    flex-direction: column;
}
.nav{
    background-color: hsl(31, 77%, 52%);
    padding: 10px;
    width: 200px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.nav a{
    text-decoration: none;
    padding: 5px;
}
a:hover{
    text-decoration: underline;
}

main{
    display: grid;
    grid-template-areas:
    "a a a a b b"
    "c c c d d d"
    "c c c e e e";
    width: 50%;
    margin: auto;
    gap: 10px;
}
main div{
    text-align: center;
    padding: 2em;
}
.item-a{
    background-color: orangered;
    grid-area: a;
    height: 200px;
}
.item-b{
    background-color: orange;
    grid-area: b;
    height: 200px;
}
.item-c{
    background-color: green;
    grid-area: c;
    height: 250px;
}
.item-d{
    background-color:rgb(52, 167, 212);
    grid-area: d;
    height: 100px;
}

.item-e{
    background-color: rgb(52, 167, 212);
    grid-area: e;
    height: 140px;
}